.form-div{
    background: rgb(233, 233, 233);
}

.form-add {
    margin: auto;
    padding: 50px;
    background: #ffffff;
    width: 80%;
    
}

.steps{
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}

.image{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px 150px;
    gap: 20px;
}

.image > button {
    background: #F3D184;
    border: 1px solid #eebe4d;
    padding: 10px 0px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.addLogo {
    padding: 20px;
    display: block;
    margin: auto;
}

.add-btn{
    background: #242F3E;
    border: 1px solid #10151c;
    padding: 10px 15px;
    width: 250px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    font-size: 14px;
    display: block;
    margin: auto;
}

.input-info{
    display: grid;
    grid-template-columns: auto auto;
    padding: 8px 20px 18px;
    justify-items: center;
}

.input-info > div {
    display: flex;
    flex-direction: column;
}