.payment-cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "card-info personal-info"
    "pay-btn pay-btn"
    ;
    gap: 50px;
    padding: 50px 150px;
}

.amazon{
    display: block;
    margin: auto;
    padding: 30px;
}

.card-info{
    padding: 50px;
    box-shadow: 1px 1px 15px gray;
    border-radius: 5px;
    
}

.personal-info{
    padding: 50px;
    box-shadow: 1px 1px 15px gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

h3{
    padding: 4px;
    font-weight: 500;
    font-size: 22px;
}

p{
    padding: 10px 4px;
}

.card-form{
    display: flex;
    flex-direction: column;
}

.visa{
    padding: 10px 4px;
}

.month-cvv{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 2px ;
    gap: 5px;
    margin-top: 10px;
}

.month-cvv>input{
    width: 120px;
}

label{
    font-weight: 300;
    color: rgb(60, 60, 60);
    
}

.nro{
    padding: 10px 4px;
}

input{
    outline: none;
    border: none;
    background-color: rgb(232, 234, 234);
    padding: 10px;
    border-bottom: 2px solid rgb(174, 174, 174);
    
}

.names, .city{
    display: flex;
    gap: 20px;
}

.aloneInput{
    width: max-content;
}